<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "ex: Cake", id: :recipe_name %>
  </div>

  <p>
    <div class="field">
      <%= form.label :difficulty %>

      <%= radio_button_tag("recipe[difficulty]", "easy") %>
      <%= label_tag(:recipe_difficulty_easy, "Easy")  %>

      <%= radio_button_tag("recipe[difficulty]", "medium", tag_name: 'recipe[difficulty]') %>
      <%= label_tag(:recipe_difficulty_medium, "Medium") %>

      <%= radio_button_tag("recipe[difficulty]", "hard", tag_name: 'recipe[difficulty]') %>
      <%= label_tag(:recipe_difficulty_hard, "Hard") %>
    </div>
  </p>

  <div class="field">
    <%= form.label :prep_time %>
    <%= form.number_field :prep_time, placeholder: "minutes", id: :recipe_prep_time %>
  </div>

  <div class="field">
    <%= form.label :directions %>
    <%= form.text_field :directions, placeholder: "ex: 1. Mix dry ingredients in a large bowl, 2. Mix wet ingredients in a large bowl...", id: :recipe_directions %>
  </div>

  <div class="field">
    <%= form.label :ingredients %>
    <%= form.text_field :ingredients, placeholder: "ex: 1 cup flour, 2 tablespoons vanilla, 3 cups milk, 4 cups sugar", id: :recipe_ingredients %>
  </div>


  <p>
    <div class="field">
      <%= form.label :category %>

      <%= radio_button_tag("recipe[category]", "appetizer") %>
      <%= label_tag(:recipe_category_appetizer, "Appetizer")  %>

      <%= radio_button_tag("recipe[category]", "salad") %>
      <%= label_tag(:recipe_category_salad, "Salad")  %>

      <%= radio_button_tag("recipe[category]", "main_course") %>
      <%= label_tag(:recipe_category_main_course, "Main Course")  %>

      <%= radio_button_tag("recipe[category]", "dessert") %>
      <%= label_tag(:recipe_category_dessert, "Dessert")  %>
    </div>
  </p>

  <div class="actions">
    <button class="btn waves-effect teal darken-4"><%= form.submit %></button>
  </div>
<% end %>
