<p id="notice"><%= notice %></p>
<div id="recipes">
<h3>Menu</h3>
<!-- <h6><%= link_to 'Add New Recipe', new_recipe_path %><h6> -->
<br />

<div id="search-box">
  <%= form_tag('/recipes', method: "get") do %>
    <%= label_tag(:ingredient, "Search by ingredient:") %>
    <%= text_field_tag(:ingredient) %>
    <button class="btn waves-effect waves-light"><%= submit_tag("Search") %></button>
  <%end%>
</div>
<br />

<div id="search-box-name">
  <%= form_tag('/recipes', method: "get") do %>
    <%= label_tag(:name, "Search by recipe name:") %>
    <%= text_field_tag(:name) %>
    <button class="btn waves-effect waves-light"><%= submit_tag("Search") %></button>
  <%end%>
</div>

<% if @recipes.blank? %>
  <p>There are no recipes with <%= params[:search]%>. </p>
<%elsif @recipes.blank? %>
<p>There are no recipes with <%= params[:name]%> </p>
<%else%>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Submitted By</th>
      <th>Difficulty</th>
      <th>Prep time</th>
      <th>Average Rating</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %> <%= link_to 'More info', recipe%></td>
        <td><%= recipe.user.email%></td>
        <td><%= recipe.difficulty %></td>
        <td><%= recipe.prep_time %> minutes</td>

        <% sum = 0 %>
        <% recipe.ratings.each do |rating| %>
          <% sum += rating.score %>
        <% end %>
        <% if recipe.ratings.empty? %>
        <td>Unrated</td>
        <% else %>
        <td><%= sum / recipe.ratings.length %><td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>

<br>
</div>
