<p id="notice"><%= notice %>
</p>

<h3>
  <%= @recipe.name %>
</h3>

<p>
  <strong>Difficulty:</strong>
  <%= @recipe.difficulty %>
</p>

<p>
  <strong>Prep time:</strong>
  <%= @recipe.prep_time %> minutes
</p>

<p>
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients%>
</p>

<p>
  <strong>Meal:</strong>
  <%= @recipe.category%>
</p>



<%= link_to 'Rate this recipe', new_recipe_rating_path(@recipe) %> |
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
<br>
<% if @recipe.image_url %>
<img class="recipe-img" src= "<%=@recipe.image_url%>">
<%end%>