<p id="notice"><%= notice %></p>
<div id="recipes">
<h3>Welcome To the Recipe Manager</h3>
<%= link_to 'Add New Recipe', new_recipe_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Difficulty</th>
      <th>Prep time</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %> <%= link_to 'More info', recipe%></td>
        <td><%= recipe.difficulty %></td>
        <td><%= recipe.prep_time %> minutes</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
