<%= form_for @rating, {url: recipe_ratings_path(@rating.recipe)} do |form| %>
  <% if rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <div class="field">
      <%= form.label :score %>

      <%= radio_button_tag("rating[score]", "1") %>
      <%= label_tag(:rating_score_1, "1")  %>

      <%= radio_button_tag("rating[score]", "2") %>
      <%= label_tag(:rating_score_2, "2")  %>

      <%= radio_button_tag("rating[score]", "3") %>
      <%= label_tag(:rating_score_3, "3")  %>

      <%= radio_button_tag("rating[score]", "4") %>
      <%= label_tag(:rating_score_4, "4")  %>

      <%= radio_button_tag("rating[score]", "5") %>
      <%= label_tag(:rating_score_5, "5")  %>
    </div>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
